.navbar {
    height: min-content;
    background-color: var(--second-color);
    display: flex;
    justify-content: flex-end;
}

a,
a:visited {
    color: #000;
    padding: 8px;
    text-decoration: none;
}

a.active{
    background-color: var(--second-color-darker);
    border-radius: 2px;
    color: #fff;
}

.menuIcon {
    align-self: flex-end;
}

@media screen and (min-width: 600px) {
    
    a:hover {
        cursor: pointer;
    }

    /* .navbar {
        display: none;
    } */
}