.shortSummary {
    display: flex;
    justify-content: center;
    padding: 8px;
    border: 1px solid var(--bright-purple-color);
    height: 400px;
    width: 300px;
}

.smallImage {
    aspect-ratio: 1/1;
    width: 70%;
}

@media screen and (min-width: 1240px) {
    .shortSummary {
        flex-direction: column;
        justify-content: flex-start;
    }

    .smallImage {
        width: 35%;
    }
}