.shortSummary {
    display: flex;
    font-size: 14px;
    color: var(--main-midi);
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding:4px 0 0 4px;
}

.smallImage {
    aspect-ratio: 1/1;
    width: 250px;
    border-radius: 50%;
    border: 3px solid var(--bright-purple-color);
    align-content: center;
    text-align: center;
}

.shortSummary h3 {
    color: var(--main-midi);
    text-transform: uppercase;
    margin: 8px 0;
    font-weight: 300;
}

.shortDescription {
    font-style: italic;
}

.shortSummary span {
    font-weight: 500;
}

.readMore {
    border: 0.5px solid var(--bright-purple-color);
    border-radius: 15px;
    padding: 2px 4px;
    width: fit-content;
    margin-top: 24px;
    align-self: flex-end;
}

@media screen and (min-width: 1240px) {
    .shortSummary {
        flex-direction: row;
        justify-content: flex-start;
        align-items: start;
        padding: 48px;
    }

    .infoBox {
        margin: 24px;
    }
    
}

@media (hover:hover) and (pointer:fine) {
    .shortSummary span:hover,
    .readMore:hover {
        cursor: pointer;
    }
}