.sidebar {
  background-color: var(--main-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 100%;
  height: 200px;
  padding: 8px;
  overflow-x: scroll;
  justify-self: flex-end;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* scrollbar-color: var(--bright-purple-color) grey; */
}

.category {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--bright-purple-color);
  transition: color 0.5s;
  padding-top: 8px;
}


.sidebar a,
.sidebar a:visited {
  text-decoration: none;
}

.sidebar p {
  text-transform: capitalize;
  padding: 2px 0;
  color: var(--main-dark);
  transition: color 0.5s;
}

@media (hover:hover) and (pointer:fine) {

  .category:hover {
    color: var(--main-midi);
  }
  .sidebar p:hover {
    color: var(--main-color);
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    height: 100%;
    width:120px;
  }
}