.footer {
  color: var(--main-midi);
  background-color: var(--main-dark);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px 0;
}

.footer :nth-child(1),
.footer :nth-child(3) {
  margin: 0 3px
}

.path {
  background-color: var(--main-midi);
  color: var(--main-dark);
  padding: 2px;
  border-radius: 5px;
}

.footer a {
  cursor: pointer;
  color: inherit;
}