@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #c2b7c5;
  --main-dark: #40374c;
  --dark-bg: #2e2737;
  --main-midi: #dbd9d7;
  --bright-purple-color: #604f6e;
  --third-color: #abd3f3;
  --grey-color: #908f8f;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--dark-bg);
  font-family: "Poppins", sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}