:root {
  --main-color: #c6c5c2;
  --main-dark: #40374c;
  --main-midi: #dbd9d7;
  --birght-purple-color: #614c89;
  --third-color: #abd3f3;
  --grey-color: #908f8f;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
